@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
	font-family: "Roboto", sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--primary-color: rgb(238, 234, 237);
	--secondary-color: #111111;
	--error-color: #e24f4f;
	--text-primary: #333333;
	--text-secondary: #ececec;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	color: var(--text-primary);
	-webkit-user-select: none;
}
